@inject UserService UserService
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KeyKeep</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Übersicht
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Archiv" Match="NavLinkMatch.Prefix">
                <span class="oi oi-trash" aria-hidden="true"></span> Archiv
            </NavLink>
        </div>
        <div class="nav-item px-3 position-absolute bottom-0 end-0">
            <button class="nav-link" @onclick="OnClickLogout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </button>
        </div>
    </nav>
</div>

@code
{
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task OnClickLogout()
    {
        UserService.CurrentUser = null;

        NavigationManager.NavigateTo("/Login", true);
    }
}
