<h3>DialogAddPassword</h3>

<MudForm>
    <MudDialog>
        <DialogContent>
            <MudGrid>
                <MudItem md="12">

                </MudItem>
                <MudItem md="12">

                </MudItem>
                <MudItem md="12">

                </MudItem>
                <MudItem md="12">

                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
        
            <MudButton Color="Color.Success" ButtonType="ButtonType.Button" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Save">Abbrechen</MudButton>
            <MudButton Color="Color.Success" ButtonType="ButtonType.Button" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Save">Speichern</MudButton>

        </DialogActions>
    </MudDialog>
</MudForm>

@code
{

}